html{
    font-size: 100px;
}
html,body,.main{
    max-width:640px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
/*page1 cover*/
.slide1{
    position: relative;
    background: url("../img/bg2.png") no-repeat ;
    background-size: 100% 100%;
    /*display: none;*/
}
.slide1 img,.slide2 img,.slide3 img,.slide4 img,.slide5 img,.slide6 img{
    position: absolute;
    opacity: 0;
}
.slide1 img:nth-child(1){
    width: 1.9rem;
    left: 1.7rem;
    bottom: 6.4rem;
}
.slide1 img:nth-child(2){
    width: 1.9rem;
    left: 0.2rem;
    bottom:3.5rem;
}
.slide1 img:nth-child(3){
    width:1.7rem;
    left: 4.3rem;
    bottom: 4.5rem;
}
.slide1 img:nth-child(4){
    width:1.8rem;
    left: 3.7rem;
    bottom: 1.3rem;
}
.slide1 img:nth-child(5){
   width:7.2rem;
    left: 0;
    top:0;
}
.slide1 img:nth-child(6){
    width:2.2rem;
    left: 2.5rem;
    top:4.9rem;
}
.slide1 img:nth-child(7){
    width:1.1rem;
    left: 1rem;
    top:8rem;
}
.slide1 img:nth-child(8){
    width:2.7rem;
    left: 4.5rem;
    top:0.3rem;
}
.arrow{
    position: absolute;
    left: 50%;
    margin-left: -0.15rem;
    width: 0.25rem;
    height: 0.25rem;
    background: transparent;
    border-top:0.08rem solid #fff;
    border-right:0.08rem solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: show 1s linear 2s infinite both;
    animation: show 1s linear 2s infinite both;
    z-index: 200;
}
@-webkit-keyframes show {
    0%{
        opacity: 0;
        bottom: 0.1rem;
    }
    50%{
        opacity: 1;
        bottom: 0.2rem;
    }
    100%{
        opacity: 0;
        bottom: 0.3rem;
    }
}
@keyframes show {
    0%{
        opacity: 0;
        bottom: 0.1rem;
    }
    50%{
        opacity: 1;
        bottom: 0.2rem;
    }
    100%{
        opacity: 0;
        bottom: 0.3rem;
    }
}
#page1 img:nth-child(1){
    -webkit-animation:rollIn 1s 0.2s both ;
    animation: rollIn 1s 0.2s both;
}
#page1 img:nth-child(2){
    -webkit-animation:rollIn 1s 0.4s both ;
    animation: rollIn 1s 0.4s both;
}
#page1 img:nth-child(3){
    -webkit-animation: 1s 0.6s both;
    animation: rollIn 1s 0.6s both;
}
#page1 img:nth-child(4){
    -webkit-animation:rollIn 1s 0.8s both ;
    animation: rollIn 1s 0.8s both;
}
#page1 img:nth-child(5){
    -webkit-animation:bounceIn 1s 1s both ;
    animation: bounceIn 1s 1s both;
}
#page1 img:nth-child(6){
    -webkit-animation: bounceInDown 3s 0.5s both;
    animation: bounceInDown 3s 0.5s both;
}
#page1 img:nth-child(7){
    -webkit-animation:bounceInDown 3s 0.7s both ;
    animation: bounceInDown 3s 0.7s both;
}
#page1 img:nth-child(8){
    -webkit-animation:bounceInDown 3s 0.9s both ;
    animation: bounceInDown 3s 0.9s both;
}
#page1 img{
    opacity: 1;
}


/*page2 personalInfo*/
.slide2{
    position: relative;
    background: url("../img/bg2.png") no-repeat;
    background-size: cover;
    /*display: none;*/
}
.slide2 :nth-child(n){
    opacity: 0;
}
.slide2 img:nth-child(1){
    width: 6rem;
    left: -2rem;
    top: 2rem;
}
.slide2 img:nth-child(2){
    width: 3.1rem;
    left: 2.85rem;
    top: 1.4rem;
    z-index: 100;
}
.slide2 img:nth-child(3){
    width: 2.6rem;
    left: 3.1rem;
    top: 1.6rem;
    border-radius: 50%;
}
.slide2 :nth-child(4){
    width: 3.5rem;
    height: 0.9rem;
    margin-top: 0.45rem;
    margin-left: 0.2rem;
    line-height: 0.9rem;
    text-align: center;
    border-radius: 0.6rem;
    background: rgb(210,163,108);
    font-size: 0.6rem;
    color: white;
}
.slide2 p{
    color: white;
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    line-height: 0;
    font-size: 0.35rem;
}
.slide2 .name{
    margin-top: 1.4rem;
}
#page2 img:nth-child(1){
    -webkit-animation:rotate 1s 0s both;
    animation:rotate 1s 0s both;
}
#page2 img:nth-child(2){
    -webkit-animation: circle linear 1.4s 1s infinite both,fadeIn 0.5s 1s both;
    animation: circle linear 1.4s 1s infinite both,fadeIn 0.5s 1s both;
}
@-webkit-keyframes circle {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes circle {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#page2 img:nth-child(3){
    -webkit-animation:fadeIn 1s 1s both;
    animation: fadeIn 0.5s 1s both;
}
#page2 :nth-child(4){
    -webkit-animation: bounceInDown 1s 0.7s both;
    animation: bounceInDown 1s 0.7s both;
}
#page2 :nth-child(5){
    -webkit-animation: lightSpeedIn 1s 1.3s both;
    animation: lightSpeedIn 1s 1.3s both;
}
#page2 :nth-child(6){
    -webkit-animation: lightSpeedIn 1s 1.5s both;
    animation: lightSpeedIn 1s 1.5s both;
}
#page2 :nth-child(7){
    -webkit-animation: lightSpeedIn 1s 1.7s both;
    animation: lightSpeedIn 1s 1.7s both;
}
#page2 :nth-child(8){
    -webkit-animation: lightSpeedIn 1s 1.9s both;
    animation: lightSpeedIn 1s 1.9s both;
}
#page2 :nth-child(9){
    -webkit-animation: lightSpeedIn 1s 2.1s both;
    animation: lightSpeedIn 1s 2.1s both;
}
#page2 :nth-child(10){
    -webkit-animation: lightSpeedIn 1s 2.3s both;
    animation: lightSpeedIn 1s 2.3s both;
}
#page2 :nth-child(11){
    -webkit-animation: lightSpeedIn 1s 2.4s both;
    animation: lightSpeedIn 1s 2.4s both;
}
#page2 :nth-child(12){
    -webkit-animation: lightSpeedIn 1s 2.7s both;
    animation: lightSpeedIn 1s 2.7s both;
}
#page2 :nth-child(13){
    -webkit-animation: lightSpeedIn 1s 3s both;
    animation: lightSpeedIn 1s 3s both;
}
@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(-90deg) scale(1);
        transform: rotate(-90deg) scale(1);
    }
    100%{
        -webkit-transform: rotate(45deg) scale(2);
        transform: rotate(45deg) scale(2);
    }
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(-90deg) scale(1);
        transform: rotate(-90deg) scale(1);
    }
    100%{
        -webkit-transform: rotate(45deg) scale(2);
        transform: rotate(45deg) scale(2);
    }
}
#page2 img{
    opacity: 1;
}
#page2 .info{
    opacity: 1;
}

/*page3 skill*/
.slide3{
    position: relative;
    background: url("../img/bg2.png") no-repeat;
    background-size: cover;
    /*display: none;*/
}
.slide3 img:nth-child(1){
    width: 2.5rem;
    left: 2rem;
    top: 0.8rem;
}
.slide3 img:nth-child(2){
    width: 2rem;
    left: 2.25rem;
    top: 1.4rem;
}
.slide3 img:nth-child(3){
    width: 1.5rem;
    left: 1.2rem;
    top: 8.4rem;
}
.slide3 img:nth-child(4){
    width: 1.5rem;
    left: 2.44rem;
    top: 6.4rem;
}
.slide3 img:nth-child(5){
    width: 1.5rem;
    left: 3.75rem;
    top: 8.4rem;
}
.slide3 img:nth-child(6){
    width: 1.5rem;
    left: 0.25rem;
    top: 6.4rem;
}
.slide3 img:nth-child(7){
    width: 1.5rem;
    left: 4.6rem;
    top: 6.4rem;
}
.slide3 img:nth-child(8){
    width: 1.5rem;
    left: 1.2rem;
    top: 4.4rem;
}
.slide3 img:nth-child(9){
    width: 1.5rem;
    left: 3.75rem;
    top: 4.4rem;
}
#page3 img:nth-child(1){
    -webkit-animation: fadeIn 1s 0s both,circle linear 1.4s 0s infinite both;
    animation: fadeIn 1s 0s both,circle linear 1.4s 0s infinite both;
}
#page3 img:nth-child(2){
    -webkit-animation: bounceIn 1s 0.5s  both;
    animation: bounceIn 1s 0.5s  both;
}
#page3 img:nth-child(8){
    -webkit-animation: bounceInLeft 1.5s 1s  both,tada linear 2s 3.5s infinite both;
    animation: bounceInLeft 1.5s 1s  both,tada linear 2s 3.5s infinite both;
}
#page3 img:nth-child(9){
    -webkit-animation: bounceInRight 1.5s 1.5s  both,tada 2s linear 3.8s infinite both;
    animation: bounceInRight 1.5s 1.5s  both,tada 2s linear 3.8s infinite both;
}
#page3 img:nth-child(6){
    -webkit-animation: bounceInLeft 1.5s 2s  both,tada 2s linear 4.1s infinite both;
    animation: bounceInLeft 1.5s 2s  both,tada 2s linear 4.1s infinite both;
}
#page3 img:nth-child(7){
    -webkit-animation: bounceInRight 1.5s 2.5s  both,tada 2s linear 4.3s infinite both;
    animation: bounceInRight 1.5s 2.5s  both,tada 2s linear 4.3s infinite both;
}
#page3 img:nth-child(3){
    -webkit-animation: bounceInLeft 1.5s 3s  both,tada 2s linear 4.6s infinite both;
    animation: bounceInLeft 1.5s 3s  both,tada 2s linear 4.6s infinite both;
}
#page3 img:nth-child(5){
    -webkit-animation: bounceInRight 1.5s 3.5s  both,tada 2s linear 4.9s infinite both;
    animation: bounceInRight 1.5s 3.5s  both,tada 2s linear 4.9s infinite both;
}
#page3 img:nth-child(4){
    -webkit-animation: bounceInDown 1.5s 4s  both,tada 2s linear 5.2s infinite both;
    animation: bounceInDown 1.5s 4s  both,tada 2s linear 5.2s infinite both;
}
#page3 :nth-child(n){
    opacity: 1;
}
/*page4 work experience*/

.slide4{
    position: relative;
    background: url("../img/bg2.png") no-repeat;
    background-size: cover;
    /*display: none;*/
}
.slide4 :nth-child(n){
    opacity: 0;
}
.slide4 img:nth-child(1){
    width: 2.5rem;
    left: 2rem;
    top: 0.3rem;
}
.slide4 img:nth-child(2){
    width: 2rem;
    left: 2.25rem;
    top: 1.2rem;
}
.slide4 :nth-child(3){
    position: relative;
    left: 1.5rem;
    top:4.2rem;
    width: 0;
    height: 0;
    border: 3rem solid transparent;
    border-right-color: #ccc;
    opacity: 0.1;
}
.slide4 :nth-child(4){
    position: relative;
    left: -0.6rem;
    top:-3.8rem;
    width: 0;
    height: 0;
    border: 3rem solid transparent;
    border-left-color: #ccc;
    opacity: 0.1;
}
.slide4 :nth-child(5){
    position: absolute;
    left: 3.2rem;
    top: 3.5rem;
    z-index: 10;
    width: 0.05rem;
    height:8rem;
    background: rgba(255,255,255,.5);
}
.slide4 :nth-child(6){
    position: absolute;
    z-index: 11;
    left: 3.08rem;
    top: 3.4rem;
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #af8326;
}
.slide4 :nth-child(7){
    position: absolute;
    z-index: 11;
    left: 3.08rem;
    top: 4.5rem;
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 50%;
    background: #af8326;
}
.slide4 :nth-child(8){
    position: absolute;
    z-index: 11;
    left: 3.08rem;
    top: 5.9rem;
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #af8326;
}
.slide4 :nth-child(9){
    position: absolute;
    z-index: 11;
    left: 3.08rem;
    top: 7.5rem;
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 50%;
    background: #af8326;
}
.slide4 :nth-child(10){
    position: absolute;
    z-index: 11;
    left: 3.08rem;
    top: 9rem;
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #af8326;
}
.slide4 p{
    position: absolute;
    z-index: 15;
    color: white;
    font-size: 0.35rem;
}
.slide4 :nth-child(11){
    left: 3.5rem;
    top:3.3rem;
}
.slide4 :nth-child(12){
    left: 0.5rem;
    top:4.2rem;
}
.slide4 :nth-child(13){
    left: 3.5rem;
    top:5.8rem;
}
.slide4 :nth-child(14){
    left: 0.5rem;
    top:7.1rem;
}
.slide4 :nth-child(15){
    left: 3.5rem;
    top:8.9rem;
}
#page4 :nth-child(1){
    -webkit-animation: fadeIn 1s 0s both,circle linear 1.4s 1s infinite both;
    animation: fadeIn 1s 0s both,circle linear 1.4s 1s infinite both;
}
#page4 :nth-child(2){
    -webkit-animation: bounceIn 1s 0s  both;
    animation: bounceIn 1s 0s  both;
}
/*#page4 :nth-child(3){
    animation: bounceInRight 1.5s 0.7s  both;
}
#page4 :nth-child(4){
    opacity: 0.1;
    animation: bounceInLeft 1.5s 0.9s  both;
}*/
#page4 :nth-child(5){
    -webkit-animation: long linear 2s 1.5s both;
    animation: long linear 2s 1.5s both;
}
@-webkit-keyframes long {
    0%{
        height: 0;
    }
    50%{
        height: 3rem;
    }
    100%{
        height: 5.8rem;
    }
 }
@keyframes long {
    0%{
        height: 0;
    }
    50%{
        height: 3rem;
    }
    100%{
        height:5.8rem;
    }
}
#page4 :nth-child(6){
    -webkit-animation: zoomIn linear 0.5s 0.5s both;
    animation: zoomIn linear 0.5s 0.5s both;
}
#page4 :nth-child(7){
    -webkit-animation: zoomIn linear 0.5s 1.5s both;
    animation: zoomIn linear 0.5s 1.5s both;
}
#page4 :nth-child(8){
    -webkit-animation: zoomIn linear 0.5s 2s both;
    animation: zoomIn linear 0.5s 2s both;
}
#page4 :nth-child(9){
    -webkit-animation: zoomIn linear 0.5s 2.5s both;
    animation: zoomIn linear 0.5s 2.5s both;
}
#page4 :nth-child(10){
    -webkit-animation: zoomIn linear 0.5s 3s both;
    animation: zoomIn linear 0.5s 3s both;
}
#page4 :nth-child(11){
    -webkit-animation: bounceInRight linear 1.5s 1s both;
    animation: bounceInRight linear 1.5s 1s both;
}
#page4 :nth-child(12){
    -webkit-animation: bounceInLeft linear 1.5s 1.5s both;
    animation: bounceInLeft linear 1.5s 1.5s both;
}
#page4 :nth-child(13){
    -webkit-animation: bounceInRight linear 1.5s 2.1s both;
    animation: bounceInRight linear 1.5s 2.1s both;
}
#page4 :nth-child(14){
    -webkit-animation: bounceInLeft linear 1.5s 2.5s both;
    animation: bounceInLeft linear 1.5s 2.5s both;
}
#page4 :nth-child(15){
    -webkit-animation: bounceInRight linear 1.5s 2.8s both;
    animation: bounceInRight linear 1.5s 2.8s both;
}
#page4 :nth-child(n){
    opacity: 1;
}
#page4 .left,#page4 .right{
    opacity: 0.1;
}
.slide5{
    position: relative;
    background: url("../img/bg2.png") no-repeat;
    background-size: cover;
    /*display: none;*/
}
.slide5 :nth-child(n){
    opacity: 0;
}
.slide5 img:nth-child(1){
    width: 2.5rem;
    left: 2rem;
    top: 0.3rem;
}
.slide5 img:nth-child(2){
    width: 2rem;
    left: 2.25rem;
    top: 1.2rem;
}
.slide5 :nth-child(3){
    width: 5rem;
    margin-left: 0.8rem;
    margin-top: 3.6rem;
    z-index: 10;
    color: snow;
    line-height: 0.5rem;
    font-size: 0.3rem;
}
#page5 :nth-child(1){
    -webkit-animation: fadeIn 1s 0s both,circle linear 1.4s 1s infinite both;
    animation: fadeIn 1s 0s both,circle linear 1.4s 1s infinite both;
}
#page5 :nth-child(2){
    -webkit-animation: bounceIn 1s 0s  both;
    animation: bounceIn 1s 0s  both;
}
#page5 :nth-child(3){
    -webkit-animation: rotateIn 1s 0.8s  both;
    animation: rotateIn 1s 0.8s  both;
}
#page5 :nth-child(n){
    opacity: 1;
}



.slide6{
    position: relative;
    background: url("../img/bg1.png") no-repeat;
    background-size: cover;
}
.slide6 img:nth-child(1){
    width: 5rem;
    left: 5rem;
    top: 4rem;
}
.slide6 img:nth-child(2){
    width: 3rem;
    left: -1rem;
    top: 8.4rem;
}
.slide6 img:nth-child(3){
    width: 4rem;
    left: 0;
    top: 0;
}
.slide6 :nth-child(4){
    width: 4rem;
    height: 4.3rem;
    overflow: hidden;
    margin-left: 0.8rem;
    margin-top: 4rem;

    line-height: 0.5rem;
    /*opacity: 0;*/
}

#page6 img.first{
    -webkit-animation:circle linear 8s 0s infinite both;
    animation:circle linear 8s 0s infinite both;
}
#page6 :nth-child(2){
    -webkit-animation:circle linear 8s 0s infinite both;
    animation:circle linear 8s 0s infinite both;
}
#page6 img.self{
    -webkit-animation:rollIn linear 1s 0s  both;
    animation:rollIn linear 1s 0s  both;
}
#page6 :nth-child(n){
    opacity: 1;
}
#page6 #des span{
    opacity: 0;
    color: snow;
    font-size: 0.3rem;
    margin-left: 0;
}
.slide7 {
    position: relative;
    background: url("../img/bg1.png") no-repeat;
    background-size: cover;
}
.slide7 :nth-child(n){
    opacity: 0;
}
.slide7 span{
    color: snow;
    font-size: 1rem;
}
.slide7 :nth-child(1) {
     position: absolute;
     left: 0.8rem;
     top:3rem;
     width: 2rem;
 }
.slide7 :nth-child(2) {
    position: absolute;
    left: 2.1rem;
    top:3rem;
    width: 2rem;
}
.slide7 :nth-child(3) {
    position: absolute;
    left:3.4rem;
    top:3rem;
    width: 2rem;

}
.slide7 :nth-child(4) {
    position: absolute;
    left:4.7rem;
    top:3rem;
    width: 2rem;

}
#page7 :nth-child(1){
    animation: bounceInDown  1s 0s both;
}
#page7 :nth-child(2){
    animation: bounceInDown  1s 0.2s both;
}
#page7 :nth-child(3){
    animation: bounceInDown  1s 0.4s both;
}
#page7 :nth-child(4){
    animation: bounceInDown  1s 0.6s both;
}
#page7 :nth-child(n){
    opacity: 1;
}
.music{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    background:url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
    z-index: 200;
    opacity: 0;
}
.musicCur{
    -webkit-animation: move 1s linear infinite both;
    animation: move 1s linear infinite both;
    opacity: 1;
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}